<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Voucher Form</h2>
    </div>
    <form action="/voucher/addVoucher" method="post" class="col-sm-12" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name Voucher:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name Voucher" name="name">
      </div>
      <div class="form-group">
        <label for="code">Code:</label>
        <input required type="text" class="form-control" id="code" name="code" placeholder="Code Voucher">
      </div>
      <div class="form-group">
        <label for="value">Value:</label>
        <input required type="number" class="form-control" placeholder="Enter value" id="value" name="value"
          onchange="validateProductPrice()" onkeyup="validateProductPrice()">
      </div>
      <div class="form-group">
      <label for="time">Expired date:</label>
      <div class="input-group mb-3">
        <input required type="date" class="form-control col-2" id="published" placeholder="Enter expired date" name="date">
        <input required type="time" class="form-control col-2" id="published" placeholder="Enter expired date" name="time">
      </div>
    </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" class="form-control" onchange="validate()" id="description"
          placeholder="Enter Description" name="description" rows="4">
                    </textarea>
      </div>
      <div class="form-group">
        <img id="img-view" class="display-none img-cover" width="150" height="150" src="" />
        <input class="form-control-file" multiple onchange="onChangeFile()" type="file" id="img-file" name="image" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="goBack()">Close</button>
        <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<script>
  const goBack = () => {
    window.location.href = '/voucher'
  }
  const firebaseConfig = {
    apiKey: "AIzaSyCnXynxi3c0pbo3YI4Q_u4-Am6wLcrbHks",
    authDomain: "datn-6d558.firebaseapp.com",
    projectId: "datn-6d558",
    storageBucket: "datn-6d558.appspot.com",
    messagingSenderId: "485658145051",
    appId: "1:485658145051:web:2bfed240c95956c65e23be",
    measurementId: "G-TMTZTKQ7LS"
  };
  firebase.initializeApp(firebaseConfig);
  const onChangeFile = () => {
    const file = document.getElementById('img-file').files[0];
    const reader = new FileReader();
    reader.onload = e => {
      document.getElementById('img-view').src = e.target.result;
      document.getElementById('img-view').classList.remove('display-none');
    }
    reader.readAsDataURL(file);
    //upload
    const ref = firebase.storage().ref(uuid());
    const uploadTask = ref.put(file);
    uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
      (snapshot) => { },
      (error) => { console.log('firebase error: ', error) },
      () => {
        uploadTask.snapshot.ref.getDownloadURL().then(url => {
          document.getElementById('image').value = url;
        })
      }
    );
  }
  const uuid = () => {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
</script>